/* Utility */
.nopadding {
  padding: 0;
}
.padding {
  padding: $column-gutter;
}
.border-button {
  @extend button;
  background-color: transparent;
  color: $oil;
  border: 2px solid $oil;
  &:hover {
    background-color: $oil;
    color: $white;
    border: 2px solid $smoke;
  }
}
.hr-accent-secondary {
  border: solid $attention-color;
  border-width: 4px 0 0;
  margin: 0 auto;
  width: 15%;
}
a:hover, a:focus {
  color: $attention-color;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: $white;
  color: #333;
}
/* Main Sections */
header {
  height: 400px;
  @media #{$large-up} {
  height: 800px;
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  hr {
    width: 25%;
    margin: .5rem 0 .5rem auto;
    border: solid #4d4c4b;;
    border-width: 2px 0 0;
    clear: both;
    height: 0;
  }
  .header-intro {
  @media #{$large-up} {
    margin: 270px 0 170px;
  }
    margin: 0;
  }
}
.intro {
  @media #{$large-up} {
    padding: rem-calc(100) 0 rem-calc(120);
  }
    padding: 1.25rem 0 .5rem;
    color: $body-font-color;
}

/* Services */
.services {
  background: $silver;
  @media #{$large-up} {
    padding: 5rem 0 7rem;
  }
  padding: 1.25rem 0 0.5rem;
}

/* Featured Articles */
.featured-articles {
  @media #{$large-up} {
    padding: 6.6875rem 0 8.8125rem;;
  }
  padding: 1.25rem 0 0.5rem;
  p {
    padding-bottom: .75rem;
  }
  .featured-article {
    background: $jet;
    background-clip: content-box;
    border-top: 2px solid $white;
    h1, h2, h3, h4, h5, h6, p, img {
      color: $white;
      padding: 0 0 0 $column-gutter;
    }
  }
}
/* Clients */
.clients {
  background: $silver;
  @media #{$large-up} {
    padding: 4.25rem 0 6.875rem;
  }
  padding: 1.25rem 0 0.5rem;
  h3 {
  @media #{$large-up} {
      margin-bottom: 4.25rem;;
    }
  margin-bottom: 1.25rem;
  }
  .client-icon svg {
    width: 80%;
  }
}
/* Portfolio */
.portfolio {
  @media #{$large-up} {
    padding: 6.9375rem 0 9.75rem;
  }
  padding: 1.25rem 0 0.5rem;
   p {
    margin: 2.5rem 0 3.375rem;
  }
}
.quote {
  background-color: $body-font-color;
  padding: rem-calc(66) 0 rem-calc(82);
  color: #eee;
  .cite {
    margin-top: rem-calc(45);
  }
}
.team-members {
  @media #{$large-up} {
    padding: rem-calc(107) 0 rem-calc(126);
  }
    padding: 1.25rem 0 0.5rem;
  p {
    margin: rem-calc(59) 0 rem-calc(100);
    }    
  .team-member {
    color: $jet;
    img {
      max-width: 100%;
    }
    svg {
      width: 80%;
      &:hover {
        fill: $attention-color;
      }
    }
    .team-member-name {
      margin: rem-calc(56) 0 rem-calc(19);
      text-transform: uppercase;
      font-weight: $font-weight-bold;
    }
    .team-member-role {
      margin: 0;
    }
  }
}
/* Facts and Numbers */
.facts {
  background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url(../img/png/facts-bg.png) no-repeat center center;
  background-size: cover;
  padding: rem-calc(104) 0 rem-calc(145);
  h1, h2, h3, h4, h5, h6, p {
    color: $white;
    opacity: 1 !important;
  }  
  .data {
    background-color: rgba(255, 255, 255, 0.44);
    padding: rem-calc(63) 0 rem-calc(68);
    font-size: 1.5rem;
    h4, p {
      font-size: 1.5rem;
    }
    hr {
      width: 25%;
      margin: .5rem auto;
      border: solid #4d4c4b;;
      border-width: 2px 0 0;
      clear: both;
      height: 0;
    }
  }
}
/* Blog */
.blog {
  @media #{$large-up} {
    padding: rem-calc(110) 0 rem-calc(96);
  }
  padding: 1.25rem 0 0.5rem; 
  .excerpt {
    margin-top: rem-calc(44);
    color: $body-font-color;
    h4 {
      padding-top: 0;
      @media #{$large-up} {
        padding-top: rem-calc(83);
      }
    }
  }
}
/* Old Articles */
.old-articles {
  background-color: $silver;
  padding: 1.25rem 0 0.5rem;
  @media #{$large-up} {
    padding: rem-calc(75) 0 rem-calc(69);
  }
  .old-article {
     &:hover {
      background-color: $secondary-color;
    }
    border-left:  solid $body-font-color 4px;
    p {
      line-height: .5rem;
    }
  }
}
.tweets {
  padding:1.25rem 0 0.5rem;
  @media #{$large-up} {
    padding: rem-calc(76) 0 rem-calc(95);;
  }
  i {
    display: block;
    padding-bottom: rem-calc(58);
    font-size: 1.875rem;
    font-weight: 400;
  }
  img {
    padding-bottom: rem-calc(43);
  }
}
footer {
  background-color: $body-font-color;
  padding: rem-calc(77) 0 rem-calc(40);
    input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  background-color: $body-font-color;
  /* reset the Foundation form borders */
  border-width: 0px;
  border-bottom-color: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
  resize: none;
  }
  h3 {
    color: $aluminum;
    text-transform: uppercase;
    }
  p, a {
    color: $smoke;
  }
  ul {
    list-style: none;
    margin-left: 0;
  }
  .category {
    text-transform: uppercase;
  }
}
.footer-form-button {
  @extend border-button;
  padding: 0.5rem;
  background: none;
  color: $silver;
  &:hover {
    color: $body-font-color;
    background-color: $white;
  }
}
.clock {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/png/clock.png) no-repeat;
}
.vector {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/png/vector.png) no-repeat;
}
.landworking {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/png/landworking.png) no-repeat;
}
/* Sprite images */
/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
 
.blog-01, .blog-02, .blog-03, .portfolio-01, .portfolio-02, 
.portfolio-04, .portfolio-03, .featured-articles-headhshot-01, .featured-articles-headshot-02, .featured-articles-headshot-03
{ max-width: 100%; background-size: 100%; background-image: url('img/sprites/sprite-01.png'); }
 
.blog-01 { background-position: 0 0%; background-size: 100%; }
.blog-02 { background-position: 0 15.855637%; background-size: 100.175439%; }
.blog-03 { background-position: 0 31.657884%; background-size: 100.351494%; }
.portfolio-01 { background-position: 0 47.044632%; background-size: 129.772727%; }
.portfolio-02 { background-position: 0 61.881785%; background-size: 129.772727%; }
.portfolio-04 { background-position: 0 76.718938%; background-size: 130.365297%; }
.portfolio-03 { background-position: 0 91.556092%; background-size: 313.736264%; }
.featured-articles-headhshot-01 { background-position: 0 94.974874%; background-size: 951.666667%; }
.featured-articles-headshot-02 { background-position: 0 97.487437%; background-size: 951.666667%; }
.featured-articles-headshot-03 { background-position: 0 100%; background-size: 951.666667%; }